footer{
  background-image: url(../assets/background/background-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;

  h2{
    margin-top: 8px;
    margin-bottom: 8px;
  }

  div{
    text-align: center;

    p{
      font: var(--text-md);
    }
  }
  ul{
    margin-top: 48px;
  }
  li{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.card-link{
  text-decoration: none;
  display: flex;
  width: 400px;
  background-color: var(--gray-300);

  align-items: center;
  justify-content: space-between;
  padding: 20px;
  
  border: 1px solid transparent;
  border-radius: 8px;
  div{
    display: inherit;
    align-items: center;
    gap: 12px;

    span{
      color: var(--gray-500);
    }
  }
  img:nth-child(1){
    object-fit: cover;
    height: 28px;
    width: 28px;
  }
  img:nth-child(2){
    object-fit: cover;
    height: 20px;
    width: 20px;
  }

  &:hover{
    border: 1px solid #878EA1; 
    transition: 0.4s;
  }
}
