:root{
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green:#82BC4F;
  --yellow: #EABD5F;

  /* base color */

  --gray-100:#0D0E11;
  --gray-200:#16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500:#C0C4CE;
  --gray-600:#E2E4E9;


  /* fonts */

  --font-family-asap:"Asap", serif;
  --font-family-incosolata: "Inconsolata", serif;
  --font-family-mavenPro: "Maven Pro", serif;


  --title-lg: 800 62px/120% var(--font-family-asap);
  --title-md: 600 24px/120% var(--font-family-asap);
  --title-sm: 600 16px/120% var(--font-family-asap);


  --subtitle: 400 20px/120% var(--font-family-incosolata);

  --text-md: 400 16px/140% var(--font-family-mavenPro);
  --text-sm: 400 14px/140% var(--font-family-mavenPro);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--gray-600);
  background-color: var(--gray-200);
  font: var(--text-md);
}

h1{
  font: var(--title-lg);
}
h2{
  font: var(--title-md);
  color: var(--gray-600);
}
h3{
  font: var(--subtitle);
  color: var(--gray-500);
}
ul{
  list-style: none;
}

.h3-red{
  font: var(--subtitle);
  color: var(--red);
}

.h3-purple{
  font: var(--subtitle);
  color: var(--purple);
}

.title-sm{
  font: var(--title-sm);
  color: var(--gray-400);
}

p{
  font: var(--text-sm);
  color: var(--gray-500);
}

.container{
  max-width: 1040px;
  
}

.arrow-down{
  margin-top: 94px;
  img{
    height: 32px;
    width: 32px;
  }
}

.flex{
  display:flex;
}

.gap-24{
  gap:24px;
}
.mt-56{
  margin-top: 56px;
}